<body>


  <!-- Deliver To Address Section -->
<div *ngIf="selectedAddress; else showDefaultAddress">
  <h3><strong>Deliver to this Address:</strong></h3>
  <p><strong>Name:</strong> {{ selectedAddress.fullName }}</p>
  <p><strong>Street:</strong> {{ selectedAddress.street }}</p>
  <p><strong>City:</strong> {{ selectedAddress.city }}</p>
  <p><strong>Zip Code:</strong> {{ selectedAddress.zipCode }}</p>
  <p><strong>Country:</strong> {{ selectedAddress.country }}</p>
</div>

<!-- fallback if no selected address -->
<ng-template #showDefaultAddress>
  <div *ngIf="defaultAddress">
    <h3><strong>Deliver to this Address:</strong></h3>
    <p><strong>Name:</strong> {{ defaultAddress.fullName }}</p>
    <p><strong>Street:</strong> {{ defaultAddress.street }}</p>
    <p><strong>City:</strong> {{ defaultAddress.city }}</p>
    <p><strong>Zip Code:</strong> {{ defaultAddress.zipCode }}</p>
    <p><strong>Country:</strong> {{ defaultAddress.country }}</p>
  </div>
</ng-template>


  <div style="display:inline-flex;font-family: Josefin Sans;">
    <h4 style="padding-right:15px;font-weight: bold;">
      <a style="color: blue; font-size: medium;" (click)="showAddressList = !showAddressList">
        Change
      </a>
    </h4>
    <a routerLink="/my-addresses" style="color: blue; font-size: medium; padding-left:15px;">
      Add a new Address
    </a>
  </div>


  <div *ngIf="showAddressList">
    <div *ngFor="let address of addresses" class="address-container">
      <div class="address-item">
        <input
          type="radio"
          name="address"
          [value]="address.id"
          [(ngModel)]="selectedAddressId"
          (change)="selectAddress(address.id)"
        />
        <div class="address-details">
          <strong>{{ address.fullName }}</strong>
          <p>{{ address.street }}, {{ address.city }}, {{ address.zipCode }}</p>

        
          <a style="color: blue;" *ngIf="!address.IsDefault" (click)="setAsDefault(address.id)">
            Set as Default
          </a>
          <span *ngIf="address.IsDefault" style="color: green;">(Default)</span>
        </div>
      </div>
    </div>
  </div>


  <button
    type="button"
    (click)="proceedToPaymentPage()" routerLink='/paymentpage'
    mat-button
    [disabled]="!selectedAddressId"
  >
    Proceed to Payment
  </button>

</body>
