<div *ngIf="product" class="product-container">
  <!-- Slideshow -->
  <div class="slideshow-container" *ngIf="product.images?.length">
    <button class="prev" (click)="prevImage()">❮</button>
    <img [src]="product.images[currentImageIndex]" alt="Product Image" class="slideshow-image" />
    <button class="next" (click)="nextImage()">❯</button>
  </div>


  <div class="product-details">
    <h2 class="product-title">{{ product.name }}</h2>
    <p class="product-price">₹ {{ product.price }}</p>
    <p class="product-description">{{ product.description }}</p>

    <ul class="product-features" *ngIf="product.features?.length">
      <li *ngFor="let feature of product.features">• {{ feature }}</li>
    </ul>
    <button mat-raised-button color="primary" (click)="addToCart(product)">
      Add to Cart
    </button>
    <!-- <button class="back-button" routerLink="/product">⬅ Back to Products</button> -->
  </div>

  <div class="review-section">
    <!-- <h3>Add a Review</h3>
    <form (ngSubmit)="submitReview()" #reviewForm="ngForm">
      <input
        type="text"
        name="userId"
        [(ngModel)]="newReview.userId"
        placeholder="Your Name"
        required
      />
  
      <select name="rating" [(ngModel)]="newReview.rating" required>
        <option value="">Select Rating</option>
        <option *ngFor="let star of [1, 2, 3, 4, 5]" [value]="star">{{ star }}</option>
      </select>
  
      <textarea
        name="comment"
        [(ngModel)]="newReview.comment"
        placeholder="Write your review"
        required
      ></textarea>
  
      <button type="submit" [disabled]="!reviewForm.form.valid">Submit Review</button>
    </form> -->
  

  </div>
    <strong>Reviews</strong><br />
    <div *ngFor="let r of reviews" class="review-item"> 
       <strong>{{ r.userId }} — Given on {{ r.createdAt | date:'mediumDate' }}</strong>
  

  <!-- ⭐ Star Rating -->
  <div class="stars mb-2 text-warning">
    <ng-container *ngFor="let star of [1,2,3,4,5]">
      <i
        class="fa"
        [ngClass]="{
          'fa-star': star <= r.rating,
          'fa-star-o': star > r.rating
        }"
      ></i>
    </ng-container>
  </div>
   <p class="mb-0">{{ r.comment }}</p>
</div>