


<div class="top-navbar">
<!-- <mat-toolbar color="primary" class="navbar"> -->
  <div class="logo">Shop Easy</div>
 

    
   <!-- <div style="text-align: left;font-weight: bold;font-size: x-large;">ShopEasy</div>  -->
  <!-- <img src="assets/images/logo.png" alt="" srcset="" height="200" width="200"/> -->
  <input type="text" [(ngModel)]="searchText" placeholder="Search products" />
  <button (click)="onSearch()" mat-button>Search</button>
  

</div>
<!-- <app-product [searchText]="searchText"></app-product> -->

  <!-- <span>ECom App</span> -->
 
  <mat-toolbar class="bottom-navbar">
    <button mat-icon-button>
      <mat-icon [routerLink]="['/']">home</mat-icon>
    </button>
        <!-- <button  mat-button  routerLink="/profile" style="right: 10px;position: relative;top: 10px;">Profile</button> -->
    <span class="spacer"></span>
   
 <div  *ngIf="authService.isAuthenticated(); else loginTemplate">


   
    <a  *ngIf="router.url!='/add' && authService.isAdmin()" routerLink="/add">Add Product</a>
    <a *ngIf="router.url!='/edit' && authService.isAdmin()"  routerLink="/edit">Edit Products</a>
    <a   *ngIf="router.url!='/product'" routerLink="/product">View Product</a>
    <a  *ngIf="router.url!='/delete'  && authService.isAdmin()" routerLink="/delete">Delete Products</a>
   

    <!-- <button  mat-button (click)="authService.logout()" style="right:70px;position:absolute;top:100px ">Logout</button>  -->
    <!-- <button  mat-button routerLink="/myorders" style="right:160px;position:absolute;top:100px ">My Orders</button>  -->
  </div>
<span class="spacer"></span>

<button mat-icon-button >
  <!-- <mat-icon [routerLink]="['/']">home</mat-icon> -->
  <mat-icon [routerLink]="['/cart']">shopping_cart</mat-icon>

  <span class="cart-count"  *ngIf="authService.isAuthenticated();">{{ cartCount }}</span>
</button>

<!-- Profile Icon with Menu Trigger -->
<div
  class="profile-icon-wrapper"
  [matMenuTriggerFor]="profileMenu"
  #menuTrigger="matMenuTrigger"
 
  *ngIf="authService.isAuthenticated()"
>
  <mat-icon style="line-height: 2;">person</mat-icon>
</div>

<!-- Dropdown Menu -->
<mat-menu #profileMenu="matMenu">
  <button mat-menu-item class="transparentbg" routerLink="/myorders">Orders</button>
  <button mat-menu-item class="transparentbg" routerLink="/my-addresses"  [queryParams]="{ from: 'profile' }">My Addresses</button>
  <button mat-menu-item class="transparentbg" (click)="authService.logout()">Logout</button>
</mat-menu>
<!-- <div *ngIf="authService.isAuthenticated(); else loginTemplate">
  <button mat-button (click)="authService.logout()">Logout</button>
</div> -->

<ng-template #loginTemplate>
  <div class="auth-section">

  <a routerLink="/login">Login</a>
  <a routerLink="/register">Register</a>
  </div>
</ng-template>

<!-- <ng-template #loginTemplate>
  <a routerLink="/edit">Edit</a>
  <a routerLink="/delete">Delete</a>
</ng-template> -->
</mat-toolbar>
<div class="simple-toast" *ngIf="toastMessage" [ngClass]="toastType">
  {{ toastMessage }}
</div>
<router-outlet></router-outlet>


<!-- <app-product></app-product> -->
